<!DOCTYPE html>
{% load static %} 
<html>
	
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">		
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
			<title>Todo list</title>
		
	<style>
		ol {text-align: center;}
	</style>	
	</head>
	<body class="">

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner"> 
					<h1>Min's To-Do list</h1>
					<p>Do What you have to Do</p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
                        <h2>to do list</h2>
                        			                           
					        <form method="POST">
					            {% csrf_token %} {{ forms.as_p }}
					            <button type="submit">추가</button> 
                            </form>
                        
					        {% for todo in todos %}
					        <p>{{ todo.task }} | <a href = "{% url 'todo_del' pk=todo.pk %}">삭제</a></p>
					        {% endfor %}
							<br>
							
							<button type="button" onclick="location.href='http://127.0.0.1:8000/todos/in_progress' ">해야할 일 보러가기!</button>
													
					</section>
						<br>
							<ol>
							<a href='http://127.0.0.1:8000/' ">HOME</a>
							</ol>

			</div>

		<!-- Scripts -->
			
			
			
			

	
</body></html>